/* Reset + base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #81c1d1;
  color: #333;
  padding: 1rem;
}

/* Grid Layout */
.grid-3x3 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 1rem;
  height: 100vh;
}



/* Center display area */
.main-display {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #c7e0f5;
  border-radius: 1rem;
}